.signup-header {
    margin-top: 2em;
}

.signup-header small {
    opacity: .7;
    font-size: .6em;
}

.signup {
    margin-top: 3em;
}

.signup .signup-failed-text {
    color: #dc3545;
    text-align: center;
    margin-bottom: 2em;
    font-size: 1.2em;
}

.signup .signup-failed-text .icon {
    position: relative;
    top: 0.1em;
}