.number-selector {
    display: flex;
    align-items: center;
    justify-content: center;
}

.number-selector-count {
    font-size: 1.3em;
    margin-top: -8px
}

.number-selector-controls {
    display: flex;
    flex-direction: column;
    margin-top: -14px;
}

.number-selector-control {
    height: 20px;
    cursor: pointer;
}

.number-selector-control:hover .icon {
    fill: red;
}