{% extends 'questions/layout/base.html' %}

{% load static %}

{% block content %}
    <h2>{{ user.name }}</h2>
    <div class="profile row">
        <div class="col-3">
            <div class="user-avatar">
                <div class="avatar">
                    <img src="{{ authorized_user.avatar.url }}" alt="avatar">
                </div>
            </div>
        </div>
        <div class="col">
            <form class="profile-form needs-validation" novalidate>
                <div class="form-group row">
                    <label class="col-2 col-form-label text-right" for="profile-form-email-input">Email</label>
                    <div class="col">
                        <input type="email" class="form-control col" id="profile-form-email-input"
                               placeholder="Enter your email..." required>
                        <div class="invalid-feedback">
                            Please enter valid email
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label text-right" for="profile-form-name-input">Name</label>
                    <div class="col">
                        <input type="text" class="form-control col" id="profile-form-name-input"
                               placeholder="Enter your name..." maxlength="200" required>
                        <div class="invalid-feedback">
                            Please enter your name
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label text-right" for="profile-form-password-input">Password</label>
                    <div class="col">
                        <input type="password" class="form-control col" id="profile-form-password-input"
                               placeholder="Enter new password..." maxlength="200">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label text-right" for="profile-form-password-repeat-input">Repeat password</label>
                    <div class="col">
                        <input type="password" class="form-control col" id="profile-form-password-repeat-input"
                               placeholder="Repeat your new password..." maxlength="200">
                        <div class="invalid-feedback">
                            Passwords should match
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label text-right" for="profile-form-avatar-input">Avatar</label>
                    <div class="col">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="profile-form-avatar-input">
                            <label class="custom-file-label" for="profile-form-avatar-input">Upload avatar...</label>
                        </div>
                    </div>
                </div>
                <button class="profile-form-submit btn btn-primary btn-lg" type="submit">Save</button>
            </form>
        </div>
    </div>
{% endblock %}