{% extends 'questions/layout/base.html' %}

{% load static %}

{% block content %}
    <div class="question">
        <div class="row">
            <div class="col-2">
                <a class="user-avatar user-avatar-link" href="#">
                    <div class="avatar">
                        <img src="{% static "images" %}/{{ question.user.avatar }}" alt="avatar">
                    </div>
                    <div class="username">{{ question.user.name }}</div>
                </a>
            </div>
            <div class="col-10">
                <div class="question-header-container">
                    <h3 class="question-title">{{ question.title }}</h3>
                    <div class="question-votes number-selector">
                        <div class="number-selector-count">{{ question.votes_count }}</div>
                        <div class="number-selector-controls">
                            <div class="number-selector-control number-selector-control-up">
                                <div class="div" data-icon="ei-chevron-up" data-size="s"></div>
                            </div>
                            <div class="number-selector-control number-selector-control-down">
                                <div class="div" data-icon="ei-chevron-down" data-size="s"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="question-text">{{ question.text }}
                </div>
                <div class="row">
                    <div class="question-tags col-8">
                        {% for tag in question.tags %}
                            <a class="question-tag" href="#">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    <div class="question-info col-4">
                        <span class="question-date question-created-date">{{ question.created_date }}</span>
                        <span class="question-answers-count">
                                {{ question.answers_count }}
                            {% if question.answers_count > 1 %} answers {% else %} answer {% endif %}
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="answers">
        {% for answer in question.answers %}
            {% include 'questions/parts/answer-list-item.html' %}
        {% endfor %}
        <div class="row">
            <div class="col offset-2">
                <form class="answer-form">
                    <label for="answer-input">Your answer</label>
                    <textarea id="answer-input" class="answer-input form-control" placeholder="Enter your answer here..." rows="5"></textarea>
                    <input type="submit" class="answer-form-submit btn btn-primary btn-lg form-control form-control-lg" value="Submit answer">
                </form>
            </div>
        </div>
    </div>
{% endblock %}