{% load static %}
<header>
    <nav class="navbar navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'index' %}">
                Qutti
                <div data-icon="ei-comment"></div>
            </a>
            <form class="search-form form-inline mr-auto">
                <input class="search-input form-control form-control-lg" type="search"
                       placeholder="Find questions and answers...">
            </form>

            {% if not is_ask_page %}
                <a href="{% url 'ask' %}" class="btn btn-primary btn-lg mr-2">Ask!</a>
            {% endif %}

            {% if is_authorized %}
                <div class="avatar-dropdown dropdown">
                    <button class="btn dropdown-toggle" type="button"
                            data-toggle="dropdown">
                        <img src="{{ authorized_user.avatar.url }}" alt="Avatar">
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                    </div>
                </div>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-light btn-lg mr-2">Login</a>
                <a href="{% url 'signup' %}" class="btn btn-light btn-lg mr-2">Sign Up</a>
            {% endif %}
        </div>
    </nav>
</header>